@font-face {
    font-family: plushfont;
    src: url(images/plushblack.otf);
}
 
/* --------- */
:root {
    --btn:#4C5FD5;
    --contentblack:black;
    --background:#dadbf1;
    --contentwhite:#fff;
}
* {
    padding: 0;
    margin:0;
}
.header {
    display: flex;
     justify-content: space-between; 
    align-items: center;
    width:100%;
    height: 64px;
    padding:0 86px;
    background-color: var(--contentblack);
    color: var(--contentwhite);
    font-family: plushfont;
}


button {
    font-size: 16px;
    border-radius: 5px;
}
.btn-submit {
    padding:4px 16px;
    margin-right: 12px;
}

.btn-sign-in {
    padding:4px 24px;
}

/* -------- */


.butbar{
    width: auto;
    height: 65px;
    margin-top: 15px;
    display: flex;
    border-radius: 50px;
    padding-top: 7px;
    padding-left: 8px ;
    
}

.active {
    background: orangered;
}

.butbar button{
    font-size: 15px;
    border-radius: 50px;
    padding: 8px 20px;
    border: transparent;
    background-color: black;
    color: white;
    transition-duration: 0.4s;
    font-weight: bold;
    font-family: plushfont;
    margin-right: 10px;
}

/* ------------ */


.body-home{
    font-family: plushfont;
    display: flex;
    flex-direction: column;
    height: 2000px;
    background-color: #1f2833;
    margin-left: 128px;
    margin-right: 128px;
    border-right: solid #c5c6c7 3px;
    border-left: solid #c5c6c7 3px;
}  
/* 
.black-fill{
    background-color: linear-gradient( right,  #28225c, #e8f2fa) !important;
} */
.container{
    display: flex;
}

.navbar-collapse{
    background-color: #0b0c10;
  
}
.navbar ul{
    margin-left: 30px;
}

.title{
    padding-top: 22px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #0b0c10;
    font-family: plushfont;
    color: #c5c6c7;
}
.navbar {
    font-family: plushfont;
    background-color: #0b0c10;
    width: 100%;
    height: 70px;
    margin:0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar a{
    color: #c5c6c7;
    border-radius: 25px;
    font-size: 16px;
    width: 80px;
    height: 40px;
    padding-left: 18px !important; 
    margin-right: 8px;
}

.nav-feed a{
    border-radius: 25px;
    width: 100px;
    height: 40px;
}

 .navbar a:hover{
    background-color: #1f2833;
    color: white;
    transition: 0.4s;
} 


.welcome-text{
    margin-top: 80px;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    border-radius: 10px;
    padding: 10px;
}
.welcome-text img{
    width: 600px;

}

.welcome-text h4{
    color: #45a29e;
    border-bottom: solid grey 2px;
    font-size: 60px;
    font-family: plushfont;
    font-weight: bold;
    margin-top: 50px;
}

.welcome-text p{
    color: #c5c6c7;
    padding: 5px;
    font-family: plushfont;
    font-weight: bold;
    font-size: 40px;
}

#about{
    min-height: 100vh;
}
#about .card-1{
    min-width: 600px;
    width: 50%;
    background: rgba(#c5c6c7,0.5);
    /* padding: 20px; */
}
.card-title h5{
    color: #1f2833;
}

.col-md-4 img{
    margin-left: 0px;
    margin-top: 90px;
}

.copyright-text{
    text-align: center;
    color: #c5c6c7;
}
.Title {
    text-align:center;
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 50px;
    color: #c5c6c7;
  }
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #c5c6c7;
  }
  .login-container a{
    color: white;
  }

  .btn {
    background-color: #45a29e;
  }

  #feedback{
    align-content: center;
  }
