*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.upperbody{
  align-items: center;
  text-align: center;
  background-color: #3f3f41;
  animation-name: upperbackground;
  animation-duration: 5s;
  height: 100px;

}

@keyframes upperbackground {
  from {background-color: gray;}
  to {background-color: #3f3f41;}
}


 h1 {
  padding-top: 10px;
  font-size: 50px;

  color: white;
  font-weight: bold;
  text-shadow:
               0 0 50px #00ffea,
               0 0 60px #00ffea;
  animation: ani 5s linear infinite;
}

@keyframes ani {
  0% {
      filter: hue-rotate(0deg);
  }
  100% {
      filter: hue-rotate(360deg);
  }
}
.upperbody h2{
  font-size: 20px;
  font-style: normal;
  color: white;
  animation-delay: 1s;
  animation: fadeoutn 4s;
  opacity: 0;
}


@keyframes fadeoutn {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

.body{
  /* margin-left: 128px;
  margin-right: 128px; */
  height: auto;
  overflow: hidden;
  background-color:  #3f3f41;

}
.header{
    justify-content: space-between;
    text-align: start;
    align-items: flex-end;
    width: 100%;
    height: 50px;
    background: linear-gradient(#1F2833,#1B1F22, #171718);
    color: white;
    padding-left: 50px;
    padding-top: 5px;

}

.logoutbtn{
  float: right;
  padding-right: 10px;
}

.searchbar{
  background-image: linear-gradient(45deg,white, #66FCF1);
border-radius: 5px;
}

.btn{
background-image: linear-gradient(45deg, #66FCF1, #45829E);
font-size: 14px;
border-radius: 10px;
transition: 0.5s;
margin-right: 5px;
margin-left: 5px;
}


.btn :hover{
  border-top-right-radius: 30px;
}

.info{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 0;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    width: auto;
    border-radius: 20px;
    height: 300px;
    background:linear-gradient(#45A29E, #1F2833);
    /* background-image: url(bg7.jpg);
    background-position: center;
    background-repeat: no-repeat; */
    background-size: cover;
    color: white;
    box-shadow: 5px 5px  #15181f, 10px 10px  #15181f, 15px 15px  #15181f;
 
    
}

  .main-content {

    margin: 50px;
    margin-right: 10px;
    margin-top: 0px;
    align-items: center;
    text-align: center;
    background: linear-gradient(#1F2833,#1B1F22, #171718);
    box-shadow: 5px 5px  #15181f, 10px 10px  #15181f, 15px 15px  #15181f;
    height: auto;
    float: left;
    width: auto;
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    position: relative;
    color: white;
    border-radius: 20px;
    border-top: 0;
 
  }

  .tablefunctions{
    padding-bottom: 100px;
  }
  .sidebar {
    width: auto;
    height: auto;
    margin: 50px;
    margin-right: 50px;
    margin-top: 0px;
    padding-top: 50px;
    padding-left: 50px;
    align-items: center;
    background: linear-gradient(#1F2833,#1B1F22, #171718);
    box-shadow: 5px 5px  #15181f, 10px 10px  #15181f, 15px 15px  #15181f;
    text-align: center;
    color: white;
    border-radius: 20px;
  
  }

  .space{
    width: 300px;
    height: 20px;
  }

  .gallery {
    height: 200px;
    display: flex;
    align-items: start;
    padding-left: 30px;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width:200px;
    background-color: black;
}

.about{
    width: 75%;
text-align: start;
    float: right;
}

  .imageItem1 {
    background-image: url('img1.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px; 
    transition: 0.3s;
    height: 30vh;
    width: 100%;
  }
  
  .footerdes{
    text-align: center;
    align-items: center;
    background-color: black;
    color: white;
  }

  .des-test {
    display: flex;
    align-items: flex-start;
    min-height: 96vh;
    width: 128vh;
    border-radius: 5px;
    padding-top: 20px;



}

.tr-test {
    display: flex;
    flex-direction: row;

}

.td-test-image {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    width: 96px;
    border: solid black 1px;
    margin-bottom: 8px;
    background-image: url('img1.png');
    background:linear-gradient(#45A29E, #1F2833);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.td-test-desc {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 96px;
    width: 100vh;
    border: solid black 1px;
    background:linear-gradient(#45A29E, #1F2833);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.subfeatures {
  display: flex;
  margin-right: 144px;
  margin-left: 144px;
  color: aliceblue;
  background-color: #04263d;
  padding: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  height: 96vh;
  border: solid gray 1px;
}

.discussion-container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  height: 84vh;
  width:96vh;
  border: solid gray 1px;
}

.disc-txtarea {
  display: flex;
  width: 100%;
}

.discussions {
  display: flex;
  border: solid black 4px;
}

.discussion {
  display: flex;
  justify-content: space-between;
  border: solid grey 1px;
  min-height: 12vh;
  width: 100%;
  margin-bottom: 4px;
}

.discussion-content {
  display: flex;    
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.btn-post-container {
  display: flex;
  margin: 4px;
  justify-content: flex-end;
  align-items: flex-end;
}

.btn-post {
  display: flex;
  justify-content: center;
  width: 8vh;
}

.delete-btn {
  display: flex;
  background-color: aliceblue;
  justify-content: center;
  margin: 4px;
  max-height: 32px;
}