*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
}

.info{
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: beige;
    color: black;
}

  .main-content {
    background-color: wheat;
    width: 1200px;
    height: 600px;
    float: left;
    padding-top: 50px;
    padding-right: 100px;
    align-items: center;
    text-align: center;
    padding-left: 100px;
    position: relative;
  }

  .tablefunctions{
    padding-bottom: 100px;
  }
  .sidebar {
    width: auto;
    height: 600px;
    padding-top: 20px;
    padding-left: 100px;
    align-items: center;
    background-color: white;
    text-align: center;
   
  }

  .space{
    width: 300px;
    height: 20px;
  }

  .gallery {
    height: 200px;
    display: flex;
    align-items: start;
    padding-left: 30px;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width:200px;
    background-color: aqua;
}

.about{
    width: 75%;
text-align: start;
    float: right;
}

  .imageItem1 {
    background-image: url('img1.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px; 
    transition: 0.3s;
    height: 30vh;
    width: 100%;
  }
  
  .footerdes{
    text-align: center;
    align-items: center;
    background-color: black;
    color: white;
  }











  .des-test {
    display: flex;
    align-items: flex-start;
    min-height: 96vh;
    width: 128vh;
    border: solid black 1px;
    background: rgba(225,225,225,0.5);
    padding: 20px;
    border-radius: 5px;
}

.tr-test {
    display: flex;
    flex-direction: row;
}

.td-test-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    width: 96px;
    border: solid black 1px;
    margin-bottom: 8px;
}

.td-test-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    width: 100vh;
    border: solid black 1px;
}